body {
    font-family: Arial, sans-serif;
    background: #222;
    color: white;
}

.container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
}

h3 {
    margin-top: 30px;
}